div#page.container
  h1= title
  div.row
    div.span6
      h2 good guys
      div.progress.progress-striped.active.progress-warning
        div.bar(style='width:40%')
      p.center.score 4
    div.span6
      h2 bad guys
      div.progress.progress-striped.active.progress-success
        div.bar(style='width:90%')
      p.center.score 9