div#page.container
  h1.page-header= title
  div.row
    div.span5
      h2 Cobra Kai
      div(class='progress progress-striped active ' + bar1Color)
        div#bar1.bar(style='width:' + bar1Width + '%')
      p.center.score= score1
      //-p.center
        a.btn.btn-success Add A Win
    div.span2
      h2#vs.center VS.
    div.span5
      h2 bad guys
      div(class='progress progress-striped active ' + bar2Color)
        div#bar2.bar(style='width:' + bar2Width + '%')
      p.center.score= score2
      //-p.center
        a.btn.btn-success Add A Win