color-white = #ffffff
color-1 = #f0f0f0 

body
  font-family: 'Graduate', Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif
  background:color-1

.score
  font-size: 4em

.center
  text-align: center

#page
  background:color-white
  padding:1.61em

#vs
  font-size:3em
  padding:.61em 0